#out{
    height: 200px;
    width: 70px;
    border: 2px solid black;

}



#red{
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 10px;
    
    border: 2px dashed black;
    border-radius: 50%;
}

#yellow{
    background-color: yellow;
 height: 50px;
    width: 50px;
    margin: 10px;
    border: 2px dashed black;
    border-radius: 50%;
}

#green{
    background-color: green;
 height: 50px;
    width: 50px;
    margin: 10px;
    border: 2px dashed black;
    border-radius: 50%;
}

