

#yellow{
    position: absolute;
    margin: 10px auto;
    left: 10px;
    right: 10px;
    height: 480px;
    width: 480px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
     

}


.black{
width: 50px;
height: 50px;

    display: inline-block;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 140px;
    top: 150px

}

#e2{
   left:290px
}

#red{

    width: 200px;
    height: 75px;
    background-color: red;
    border-radius: 0  0 50px 50px;

    position: absolute;
    top: 300px;
    left: 140px;

}