body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
}

/* Card */
.card {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

/* Image */
.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 🔥 Blurred Layer  */
.blurred-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://plus.unsplash.com/premium_photo-1679692887717-dc7f5d090271?q=80&w=774&auto=format&fit=crop");
  background-size: cover;
  background-position: bottom;
filter: blur(10px);
z-index: 1;

-webkit-mask-image: linear-gradient(
  to top,
  rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 0)
);
-webkit-mask-size: 100% 100%;
-webkit-mask-repeat: no-repeat;

mask-image: linear-gradient(
  to top,
  rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 0)
);
mask-size: 100% 100%;
mask-repeat: no-repeat;
}

/* Content */
.content {
  position: absolute;
  bottom: 20px;
  left: 20px;

  color:white;
  z-index: 2;
}

.content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.content p {
  font-size: 14px;
  color: #ddd;
  line-height: 1.4;
}